/.idea/
/notebooks/.ipynb_checkpoints/
/solutions/adresse.py
/solutions/geburtstag.py
/solutions/koordinaten.py
/solutions/kreis_funktion.py
/solutions/kreis.py
/solutions/lotto.py
/solutions/namen.py
/solutions/profillinie.py
/solutions/pyramide.py
/solutions/schach.py
/solutions/sehtest.py
/solutions/sehtest_refresh.py
/solutions/summe.py
/solutions/DataFrameFilter.py
/solutions/pyVinci.py