/.idea/
/notebooks/.ipynb_checkpoints/
/solutions/adresse.py
/solutions/geburtstag.py
/solutions/koordinaten.py
/solutions/lichtschalter.py
/solutions/lotto.py
/solutions/minesweeper.py
/solutions/sehtest.py
/solutions/waehrung.py
